:root {
  body.dark {
    --background-accent: #9abaf5;
    --background-primary: #262431;
    --background-secondary: #42404d;
    --background-territy: #222127;
  
    --text-primary: white;
    --text-secondary: #262431;
    --text-accent: #9abaf5;
  }
}
