:root {
  body.light {
    --background-accent: #f95136;
    --background-primary: #e0e1df;
    --background-secondary: #fefefe;
    --background-territy: #e5e5e5;

    --text-primary: #050505;
    --text-secondary: #fff;
    --text-accent: #f95136;
    --text-disable: #adadad;
  }
}
